
*{
  margin: 0;
  padding: 0;
  background-color: rgb(138, 206, 208);
  font-family: 'poppins', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

code {
  font-family: 'poppins', sans-serif , 'Courier New',
    monospace;
}